 body {
    background: #8BDBE4;
    font-family: Arial, sans-serif; 
}  

 h1 {
    color: hsl(171, 25%, 38%);
    
 } 

 .container {
  text-align: center;
}

.titulo-centralizado {
  text-align: center;
}
